syntax: glob
.DS_Store
.cproject
.project
.settings/*
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CMakeFiles/*
CMakeScripts/*
Evernus.app/*
Evernus.build/*
Evernus.opensdf
Evernus.sdf
Evernus.sln
Evernus.v12.suo
Evernus.xcodeproj/*
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
cmake_install.cmake
install_manifest.txt
x64/*
.vs/*
.cache-bust
ALL_BUILD.vcxproj.user
*.orig
.hg/
*.exe
PACKAGE.vcxproj.filters
PACKAGE.vcxproj
_CPack_Packages/*
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest_RuntimeLibs.txt
install_manifest.txt
install_manifest_Evernus.txt
PACKAGE.vcxproj.filters
PACKAGE.vcxproj
Evernus-Installer/CMakeFiles/generate.stamp.depend
Evernus-Installer/INSTALL.vcxproj.filters
INSTALL.vcxproj
INSTALL.vcxproj.filters
